Package: https-keyscript
Version: 1.0.2
Maintainer: Adam Watkins <adam.gc.watkins@gmail.com>
Description: keyscript to fetch a remote key over HTTPS.
Homepage: https://github.com/stupidpupil/https-keyscript
Architecture: all
Priority: optional
Section: admin
Depends: cryptsetup (>= 2), curl (>= 7.64.0), openssl (>= 1.1.1n)
Recommends: keyutils (>= 1.5)
Installed-Size: 5
