Package: https-keyscript
Version: 0.0.1
Maintainer: Adam Watkins <adam.gc.watkins@gmail.com>
Description: keyscript to fetch a remote key over HTTPS.
Homepage: https://github.com/stupidpupil/https-keyscript
Architecture: all
Priority: optional
Section: admin
Depends: cryptsetup (>= 2), wget (>= 1.15)
Recommends: keyutils (>= 1.5)
